{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url('/images/slide/slide-1.jpg');">
                <div class="carousel-container">
                    <div class="carousel-content container">
                    <h2 class="animate__animated animate__fadeInDown">Bienvenue a <span>EEC</span></h2>
                    <p class="animate__animated animate__fadeInUp">
                    </p>
                    <a href="{{path('app_enrolment')}}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Enrolement</a>
                    </div>
                </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url('/images/slide/slide-2.jpg');">
                  <div class="carousel-container">
                      <div class="carousel-content container">
                      <h2 class="animate__animated animate__fadeInDown">Welcome to <span>EEC</span></h2>
                      <p class="animate__animated animate__fadeInUp">
                      </p>
                      <a href="{{path('app_enrolment')}}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Enrolement</a>
                      </div>
                  </div>
                </div>
                <!-- Slide 3 -->
                <!-- <div class="carousel-item" style="background-image: url('/img/slide/slide-3.jpg');">
                <div class="carousel-container">
                    <div class="carousel-content container">
                    <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
                    <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                    <a href="" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                    </div>
                </div>
                </div> -->

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

            </div>
        </div>
    </section>

  <main id="main">
   <!-- End About Us Section -->
   
    <section id="portfolio" class="portfolio ">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="section-title">
          <h2>Nos activites</h2>
          <p>
          Decouvrez toutes nos activites
          </p>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Tous</li>
              {% for i in types %}
              <li data-filter=".{{"filter-"~i.id}}">{{i.label | upper }}</li>

              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">
          {% for i in activities %}
            <div class="col-lg-4 col-md-6 portfolio-item {{"filter-"~i.id}}">
              <div class="portfolio-wrap">
                <img src="{{ asset('images/'~ i.path) }}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>{{i.title | upper }}</h4>
                  <div class="portfolio-links">
                    <a href="{{ asset('images/'~ i.path) }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Apercu"><i class="bi bi-eye"></i></a>
                    <a href="" title="Voir plus"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}

         

         
        </div>

      </div>
    </section>
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

          <div class="row no-gutters">
            <div class="col-lg-6 video-box">
              <img src="{{ asset('')}}images/eec.jpg" class="img-fluid" alt="">
              <a href="" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
            </div>

            <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

              <div class="section-title">
                <h2>A propos</h2>
                <p>
                Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                </p>
              </div>

              {# <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bx-fingerprint"></i></div>
                <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
              </div>

              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bx-gift"></i></div>
                <h4 class="title"><a href="">Nemo Enim</a></h4>
                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
              </div> #}

            </div>
          </div>

        </div>
      </section>

    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Nous contacter</h2>
        </div>

        <div class="row">

          <div class="col-lg-6 d-flex" data-aos="fade-up">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>Localisation</h3>
              <p>Harde, Maroua, Cameroun</p>
            </div>
          </div>

          <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>Email </h3>
              <p>example@example.com</p>
            </div>
          </div>

          <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box ">
              <i class="bx bx-phone-call"></i>
              <h3>Contact</h3>
              <p>+3237 xxxxxxxx</p>
            </div>
          </div>

       

        </div>

      </div>
    </section>

  </main>
{% endblock %}
