{% extends 'admin.html.twig' %}

{% block title %}Enrolement{% endblock %}


{% block body %}
    <div class="container-fluid p-0">

    <h1 class="h3 mb-3">Enrolement en attente</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                 {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                        <a  target="_blank" href="" class="btn btn-primary"><i class="align-middle" data-feather="printer"></i> <span>Pdf</span><a>
                </div>
                <div class="card-body">
                     <table id="example1" class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th class="">Noms et prenom </th>
                                <th class="">Contact </th>
                                <th class="">Quartier</th>
                                <th class="">Groupe</th>
                                <th class="">Date Enrollement</th>
                                <th class="">Action(s)</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in membres %}
                            <tr>
                               
                                <td class="">{{ i.nomPrenom | upper }}</td>
                                <td class="">{{ i.Contact }}</td>
                                <td class="">{{ i.quartier }}</td>
                                <td class="">{{ i.groupe.label }}</td>
                                <td class="">{{ i.createAt | date('d-m-Y') }}</td>
                                <td>
                                    {# <a href="{{ path('app_client_paiement', {slug: '0915_'~i.id ~i.nomPrenom ~'#'~i.id }) }}" class="btn btn-success"><i class="align-middle" data-feather="check"></i><a> #}
                                    <a href="" class="btn btn-primary"><i class="align-middle" data-feather="check"></i><a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    

       
    </div>


{% endblock %}


