{% extends 'admin.html.twig' %}

{% block title %}Activite{% endblock %}


{% block body %}
    <div class="container-fluid p-0">
        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">{{ action}}</h1>
            <a class="badge bg-dark text-white ms-2" >
                Activite
            </a>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
               <form method="POST" enctype="multipart/form-data">
                    <div class="card">
                        
                        <div class="card-body">

                            <label>Type Activite</label> <br>

                            <select name="activite" class="form-control" required>

                                {% if item.type !="" %}
                                    {% for i in types %}
                                        {% if item.type.id == i.id%}
                                               <option value="{{i.id}}" selected>{{i.label}}</option>
                                        {% else %}
                                               <option value="{{i.id}}">{{i.label}}</option>

                                        {% endif  %}

                                    {% endfor %}
                                {% else %}
                                    <option value="" selected disabled></option>
                                    {% for i in types %}
                                        <option value="{{i.id}}">{{i.label}}</option>
                                    {% endfor %}
                                {% endif  %}
                               
                            </select>
                           
                            <label>Titre</label> <br>
                            {% if item.title !="" %}
                              <input type="text" class="form-control" name="title" value="{{ item.title }}" required>
                            {% else %}
                               <input type="text" class="form-control" name="title" required>
                            {% endif  %}

                             <label>Description</label> <br>
                            {% if item.description !="" %}
                                <textarea class="form-control" name="description">{{ item.description }}</textarea>
                            {% else %}
                                <textarea class="form-control" name="description"></textarea>
                            {% endif  %}

                                 {% if imgShow == true %}
                                   <label>Image</label> <br>
                                     <input type="file" class="form-control" name="path" required>
                                {% endif  %}
                             
                             
                        </div>

                        <div class="card-footer">
                        <div style="position:absolute; right:10px;bottom:20px;">
                                <a href="{{ path('app_activite')}}" class="btn btn-danger">Annuler</a>
                                <button type="submit" class="btn btn-primary">{{ action}}</button>
                            </div>
                            <br>
                        </div>
                    </div>
               </form>

            </div>

        </div>

       
    </div>


{% endblock %}


