{% extends 'admin.html.twig' %}

{% block title %}Activite{% endblock %}


{% block body %}
    <div class="container-fluid p-0">

    <h1 class="h3 mb-3">Activite</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                 {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                        <a href="{{path('app_activite_new')}}" class="btn btn-primary"><i class="align-middle" data-feather="plus"></i> <span>Nouvelle activite</span><a>
                </div>
                <div class="card-body">
                     <table id="example1" class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th class="">Type activite</th>
                                <th class="">Titre</th>
                                <th class="">Description</th>
                                <th class="">Image</th>
                                <th class="">Action(s)</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in items %}
                            <tr>
                               
                                <td class="">{{ i.type.label }}</td>
                                <td class="">{{ i.title }}</td>
                                <td class="">{{ i.description | slice(0, 60) }}</td>
                                <td class=""><img src="{{ asset('images/'~ i.path) }}" style="height:60px;widht:60px;"/></td>

                                <td>
                                    <a href="{{ path('app_activite_update', {id: '0915_'~i.id ~i.title ~'#'~i.id }) }}" class="btn btn-primary"><i class="align-middle" data-feather="edit"></i><a>
                                    <a href="" class="btn btn-danger"><i class="align-middle" data-feather="trash-2"></i><a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    

       
    </div>


{% endblock %}


